<div class="modal fade" id="osintDetailModal" tabindex="-1" aria-labelledby="osintDetailTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="osintDetailTitle"><i class="bi bi-search text-info"></i> OSINT Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="osintDetailVerdict" class="mb-3"></div>
                <ul class="nav nav-pills mb-3 flex-wrap" id="osintDetailTabs" role="tablist"></ul>
                <div class="tab-content" id="osintDetailTabContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
